@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background-color: #E0E1DD;
  --alt-background-color: #B1B1B1; 
  --lightest-blue: #C0D0E5;
  --light-blue: #778DA9;
  --mid-blue: #415A77;
  --dark-blue: #1B263B;
  --darker-blue: #0D1B2A;
}

body{
  background-color: var(--background-color);
  color: var(--mid-blue);
  margin: 0px;
}

a:link{
  color:var(--light-blue)
}
a:visited{
  color:var(--mid-blue)
}

h1{
  font-family: "poppins";
  font-weight: 500;
  font-size: 220%;
  letter-spacing: 3px;
}

h2{
  font-family: "poppins";
  font-weight: 500;
  font-size: 170%;
  display:block;
  position:static;
  letter-spacing: -1px;
}

h3{
  font-family: "poppins";
  font-weight: 500;
  font-size: 150%;
  display:block;
  position:static;
  letter-spacing: -1px;
}

#header{
  background-color:var(--lightest-blue);
  padding-top:3%;
  padding-bottom:0.5%;
  margin-bottom: 6%;
  text-align: center;
  position:relative;
}

#top-logo{
  display:block;
  width: 45%;
  margin-bottom: 4%;
  margin-left: auto;
  margin-right: auto;
}

#main-description{
  margin-left:20%;
  margin-right:20%;
}

.wave{
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 201px;
}

.wave .shape-fill {
    fill: var(--lightest-blue);
}


#content{
  display: block;
  position: static;
  margin-top: 1%;
  margin-left: auto;
  margin-right:auto;
  width:85%;
  height:2000px;
  h1{
    margin-left: 5%;
  }
}

.main-content{
  display:block;
  position:relative;
  height: 50%;
  padding-left: 10%;
  padding-right:10%;
  margin-bottom: 5%;
  padding-top: 4%
}

.main-content img{
  object-fit: cover;
  position: relative;
  max-width:100%;
  max-height: 100%;
  border-radius: 2%;
}

.jeux-boxes{
  position:relative;
  margin-left: auto;
  margin-right:auto;
  height: 60%;
  max-width:90%;
  max-height: 100%;
  margin-bottom: 2%;
}

.jeux-boxes :hover{
  background-color: rgba(0, 0, 0, 0.65);
  .overlay-text {
    transform: translateY(-10%);
    background-color: rgba(0, 0, 0, 0);
  }
  .overlay-text h3{
    opacity: 1;
  }
}

.overlay{
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.25);
  border-radius: 2%;
  width: 100%;
  height: 100%;
  transition: background-color 0.25s ease-out;
}

.overlay-text{
  width: 90%;
  height:50%;
  background-color: rgba(0, 0, 0, 0);
  position:absolute;
  text-align: left;
  bottom:0;
  transform: translateY(65%);
  transition: transform 0.25s ease;
}

.overlay-text h2{
  color: white;
  font-size: 350%;
  margin: 0px;
  margin-left:2%;
  margin-bottom: 1%;
  transition: all 0.25s ease-out;
}

.overlay-text h3{
  color: white;
  opacity: 0;
  margin: 0px;
  margin-left:2%;
  margin-right: 30%;
  margin-bottom: 1%;
  transition: all 0.25s ease;
}

#a-suivre{
  height:25%;
  font-size: 80%;
  position: relative;
  #a-suivre-text{
    position: relative;
    margin-left: 5%;
    text-align: center;
  }
  h2{ 
    text-align: center;
    color: white;
    font-size: 350%;
    margin: 0px;
    margin-top: 7%;
    margin-left:2%;
    margin-bottom: 2%;
  }
  h3{
    top: 30%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

#membres{
  margin-top: 7%;
  display: flex;
  align-items: flex-start; 
  flex-direction: row; 
  flex-wrap: wrap; 
  position:relative;
  width:100%;
  height: 80%;
  justify-content: space-around;
}

.membre{
  position: relative;
  width: 32%;
  height: 45%;
  img{
    max-width:50%;
    max-height: 50%;
    min-width: 50%;
    min-height: 50%;
    margin-left: 20%;
    margin-right: auto;
  }
  h3{
    text-align: center;
  }
}

#bottom-bar{
  background-color: var(--alt-background-color);
  height: 4%;
  width: 100%;
  margin: 0px;
  position: fixed;
  left: 0px;
  bottom: 0px;
}

.bottom-text{
  color: var(--dark-blue);
  font-family: "poppins";
  font-weight:350;
  font-size: 18px;
  position: relative;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 0.33%;
}

.underline{
  text-decoration: underline;
}

.unhoverable{
  pointer-events: none;
}

