:root {
  --background-color: #E0E1DD;
  --alt-background-color: #B1B1B1; 
  --light-blue: #778DA9;
  --mid-blue: #415A77;
  --dark-blue: #1B263B;
  --darker-blue: #0D1B2A;
}

body{
  background-color: var(--background-color);
  color: var(--mid-blue);
  margin: 0px;
}

a:link{
  color:var(--light-blue)
}
a:visited{
  color:var(--mid-blue)
}

h2{
  font-family: "poppins";
  font-weight: 500;
  font-size: 30px;
  display:block;
  position:static;
  text-align: center;
  letter-spacing: -1px;
  margin-right: 20%;
  margin-left: 20%;
}

#top-logo{
  display:block;
  width: 50%;
  margin-top: 30px;
  margin-bottom: 75px;
  margin-left: auto;
  margin-right: auto;
}

#content{
  display: block;
  position: static;
  margin-top: 5px;
  margin-left: auto;
  margin-right:auto;
  padding: 40px;
  width:85%;
  height:3000px;
}

.main-content{
  display:block;
  position:inherit;
  background-color: var(--dark-blue);
  height: 47%;
  margin-bottom: 5%;
}

#bottom-bar{
  background-color: var(--alt-background-color);
  height: 50px;
  width: 100%;
  margin: 0px;
  position: fixed;
  bottom: 0px;
}

.bottom-text{
  color: var(--dark-blue);
  font-family: "poppins";
  font-weight:300;
  font-size: 20px;
  position: relative;
  float: left;
  margin-left: 20px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 0px;
}

